/*Default background color for all pages*/
body{
	background-color: #d7eaf4;
}

/*Defining containers and headers for all pages*/
.jumbotron{
	border: 1px solid black;
	margin: 12px auto;
	padding: 10px 0px;
	background-color:white;
    color:black;
}
.jumbotron h4{
	font-size: 2.7vh;
	text-align: center;
}
.jumbotron h3{
	font-size: 2vw;	
	font-size: 4vh;
	text-align: center;
}
/*Making messagebox fixed i.e. not resizable for all pages*/
textarea {
    resize: none;
}
/*Button setting for all pages*/
.button{
	padding: 5px;
}

/*Common navbar settings for all pages*/
.navlogo .navbar-brand {
  padding-top: 5px;
  padding-left: 0px;
  height: 80px;
}
.navlogo .nav >li >a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navlogo .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #000000;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff; /*Background color for active*/
	background-color: #337ab7;
}
.navbar-default {
	color: #ffffff;
    background-color: #51bfff;
}
.dropdown-menu>li>a, .open .dropdown-menu {
	color:#ffffff;
    background-color: #51bfff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #000000;
    background-color: #337ab7;  /*change color of links in drop down here*/
}
.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus {
  background-color: #337ab7;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff; /*Change active text color here*/
}	
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a, 
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
color: #ffffff;
background-color: #337ab7;
}

/*Login page*/
body.landing{
	background: url("chicago3.jpg") no-repeat center center fixed;
	background-size: cover;
}

.formWithButtons
{
width: 133px;
display: inline-block;
margin: 0px;
}

.card-container.card {
    max-width: 350px;
    padding: 25px 40px;
}
.btn {
    font-weight: 700;
    height: 36px;
    user-select: none;
    cursor: default;
}
.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 12px;
    border-radius: 2px;
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}
.btn.btn-signin {
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    border-radius: 3px;
    border: none;
}
.btn.btn-sub {
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
	width: 132px;
    border-radius: 3px;
    border: none;
}
.section{
	background-color: #d7eaf4;
	padding: 25px;
}
.submitbox{
	background-color: white;
	max-width: 300px;
	vertical-align: center;
	padding: 10px;
	border-radius: 10px;
}
.borderless td, .borderless th {
    border: 0px;
}

/*Schedule page*/
#schedrop.container-fluid{
	padding: 0px;
}
#legend.jumbotron{
	padding: 0px;
}
.list-group-item {
    padding: 5px 20px
}
.list-group-item-info{
	background-color:#42bff4;
}
.list-group-item-success{
	background-color:#cfefc6;
}
.list-group-item-danger{
	background-color:#efb8b8;
}
#bamorn.badge{
	background-color:#42bff4;
}
#baaft.badge{
	background-color:#cfefc6;
}
#banig.badge{
	background-color:#efb8b8;
}
#batod.badge{
	background-color:#82556e;
}

/*Timesheet page*/
.shorty{
	max-height: 21px;
	max-width: 70px;
	text-align: center;
	margin: auto 2vw;
}
.input-sm{
	max-height: 27px;
	margin: auto 0px;
}

/*Edit Profile page*/
.eprof {
		height: 485px;
}

/*Responsive code for all pages*/
@media screen and (max-width: 768px){
    .shorty{
		text-align: center;
		margin: auto 0vw;
    }
    .navlogo .navbar-brand{
        width: 270px;
		padding-top: 5%;
    }
	.btn.btn-sub {
	    padding: 0px;
	    font-weight: 700;
	    font-size: 14px;
	    height: 36px;
		width: 100px;
	    border-radius: 3px;
	    border: none;
	}
	.eprof {
		height: 520px;
	}

	.formWithButtons
	{
	width: 115px;
	display: inline-block;
	margin: 0px;
	}
}