<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Edit Profile</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="master.css">

	</head>

	<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript">
	//pageLoad();
	$(document).ready(function(){
		$.ajax({
			type : "GET",
			url : "/fetchUserDetails",
			
			timeout : 1000,
			
			success : function(data){
				$('#fname').val(data.firstName);
				$('#lname').val(data.lastName);
				$('#addressline1').val(data.addressline1);
				$('#addressline2').val(data.addressline2);
				$('#state').val(data.state);
				$('#zip').val(data.zip);
				$('#wage').val(data.hourlyWage);
				$('#dob').val(data.dob);
				$('#ssn').val(data.ssn);
				$('#jobrole').val(data.jobRole);
				$('#phone').val(data.phoneNumber);
			}
		})
	});
	</script>
	
			<div class="navlogo">
			  <nav class="navbar navbar-default navbar-static-top">
				<div class="container">
				  <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="www.google.com"><img src="Suitcase_logo_opt.png" class="img-responsive" alt="Forever Live Hotels">
					</a>
				  </div>
				  <div id="navbar3" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						  <li><a href="sched.html">Home</a></li>
						  <li><a href="#">Setup Schedule</a></li>
						  <li><a href="/timesheets">Time sheets</a></li>
					  <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
						  <li class="active"><a href="success.html">Edit Profile</a></li>						  
						  <li class="divider"></li>
						  <li><a href="login.html">Logout</a></li>
						</ul>
					  </li>
					</ul>
				  </div>
				</div>
			  </nav>
			</div>
			<div class="container-fluid">
				<div class= "row">
					<div class="container-fluid">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 personal-info">
							<div class="jumbotron">
									<div class= "container-fluid">
									<h3><strong>Edit Profile</strong></h3>
										<br>
										<form class="form-horizontal" role="form" action="/updateUserDetails" method=POST>
										<div class="form-group">
										  <label class="col-lg-3 col-xs-5 control-label">First name:</label>
										  <div class="col-lg-5 col-xs-7">
											<input class="form-control input-sm" name="fname" id="fname" type="text" disabled>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-lg-3 col-xs-5 control-label">Last name:</label>
										  <div class="col-lg-5 col-xs-7">
											<input class="form-control input-sm" name="lname" id="lname" type="text" disabled>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-lg-3 col-xs-5 control-label">Address Line 1:</label>
										  <div class="col-lg-5 col-xs-7">
											<input class="form-control input-sm" name="addressline1" id="addressline1" type="text">
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-lg-3 col-xs-5 control-label">Address Line 2:</label>
										  <div class="col-lg-5 col-xs-7">
											<input class="form-control input-sm" type="text" name="addressline2" id="addressline2"/>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-lg-3 col-xs-5 control-label">State</label>
										  <div class="col-lg-5 col-xs-7">
											<input class="form-control input-sm" type="text" name="state" id="state"/>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-lg-3 col-xs-5 control-label">ZIP</label>
										  <div class="col-lg-5 col-xs-7">
											<input class="form-control input-sm" type="text" name="zip" id="zip"/>
										  </div>
										</div>																																								
										<div class="form-group">
										  <label class="col-lg-3 col-xs-5 control-label">Hourly Wage:</label>
										  <div class="col-lg-5 col-xs-7">
											<input class="form-control input-sm" type="text" name="wage" id="wage" disabled/>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 col-xs-5 control-label">Phone Number:</label>
										  <div class="col-md-5 col-xs-7">
											<input class="form-control input-sm" type="text" name="phone" id="phone"/>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 col-xs-5 control-label">DOB:</label>
										  <div class="col-md-5 col-xs-7">
											<input class="form-control input-sm" type="text"  name="dob" id="dob" disabled/>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 col-xs-5 control-label">SSN:</label>
										  <div class="col-md-5 col-xs-7">
											<input class="form-control input-sm" type="text" name="ssn" id="ssn" disabled/>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-lg-3 col-xs-5 control-label">Job Role:</label>
										  <div class="col-lg-5 col-xs-7">
											<input class="form-control input-sm" type="text" name="jobrole" id="jobrole" disabled/>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-lg-3 col-xs-12 control-label"></label>
										  <div class="col-lg-5 col-xs-12">
											<input class="btn btn-primary" value="Save Changes" type="submit">
											<input class="btn btn-default" value="Cancel" type="reset">
										  </div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
						<div class="jumbotron">
							<div id="schedrop" class="container-fluid">
								<h4>Keep this up to date! <br>We wanna know all about you...</h4>
								<br>
								<img src="New_Suitcase_Pose-2.png" alt="..." class="img-responsive center-block" style="height: 165px">								
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
						<div class="jumbotron">
							<div class="container-fluid">
								<br><br><br><br><br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>   
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>