<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <!--Tab description-->
		<title>Enter Timesheet</title>
		<!--Links to CSS sheets-->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="master.css">

	</head>

	<body>
		<!--Navigation Bar Code-->
		<div class="navlogo">
		  <nav class="navbar navbar-default navbar-static-top">
			<div class="container">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/userProfilePage"><img src="Suitcase_logo_opt.png" class="img-responsive" alt="Forever Live Hotels">
				</a>
			  </div>
				<!--Collapsable Menu code-->
			  <div id="navbar3" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						  <li><a href="/mySchedule">Home</a></li>
						  <li><a href="/userProfilePage">Edit Profile</a></li>
						  <li><a href="/timesheets">Timesheets</a></li>
					  <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
						  <li><a href="/aboutUs">About Us</a></li>
						  <li><a href="/contact">Contact Us</a></li>						  
						  <li class="divider"></li>
						  <li><a href="/logout">Logout</a></li>
						</ul>
					  </li>
					</ul>
			  </div>
			</div>
		  </nav>
		</div>
        <!--Main Section - Timesheet Entry code-->
		<div class="container-fluid">
			<div class= "row">
				<div class="container-fluid">
					<div class="col-lg-8 col-md-8 col-sm-8 hidden-xs">
						<div class="jumbotron">
							<div class="container-fluid">
								<h3><strong>Timesheet Entry</strong></h3>
								<table class="table table-striped">
									<thead>
										<tr>
									<!--Display Weeks for inputting time-->
											<th>Day</th>
											<th>Week of <span id="currwkdt1"></span></th>
											<th>Week of <span id="currwkdt2"></span></th>
										</tr>
									</thead>
									<tbody>
									<!--Week 1 Inputs-->
										<tr>
										  <td>Sunday</td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Monday</td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Tuesday</td>
										  <td><input onblur="findTotal()"type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Wednesday</td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Thursday</td>
										  <td><input onblur="findTotal()"type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Friday</td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Saturday</td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <th>Total</th>
										  <th><input type="text" class="form-control shorty" id="totalw1" disabled placeholder="0.0"></th>
										  <th><input type="text" class="form-control shorty" id="totalw2" disabled placeholder="0.0"></th>
										</tr>
									</tbody>
								</table>								
							<!--Submit Timesheet button-->
								<div align="center">
									<input class="btn btn-primary" value="Submit Timesheet" type="button" onclick="submitTime()">
								</div>
							</div>
						</div>
					</div>
					<div class="hidden-lg hidden-md hidden-sm col-xs-12">
						<div class="jumbotron">
							<div class="container-fluid">
								<h3><strong>Timesheet Entry</strong></h3>
								<br>
								<table class="table table-striped">
									<thead>
										<tr>
								        <!--Display second week for inputting time-->
											<th>Day<br></th>
											<th><span id="currwkdt1r"></span></th>
											<th><span id="currwkdt2r"></span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
										<!--Week 2 inputs-->
										  <td>Sun</td>
										  <td><input onblur="findTotal()"type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Mon</td>
										  <td><input onblur="findTotal()"type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Tue</td>
										  <td><input onblur="findTotal()"type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Wed</td>
										  <td><input onblur="findTotal()"type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Thu</td>
										  <td><input onblur="findTotal()"type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Fri</td>
										  <td><input onblur="findTotal()"type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <td>Sat</td>
										  <td><input onblur="findTotal()"type="text" class="form-control shorty" name="tw1" placeholder="0.0"></td>
										  <td><input onblur="findTotal()" type="text" class="form-control shorty" name="tw2" placeholder="0.0"></td>
										</tr>
										<tr>
										  <th>Total</th>
										  <th><input type="text" class="form-control-static shorty" id="totalw1r" placeholder="0.0"></th>
										  <th><input type="text" class="form-control-static shorty" id="totalw2r" placeholder="0.0"></th>
										</tr>
									</tbody>
								</table>								
								<div align="center">
									<input class="btn btn-primary" value="Submit Timesheet" type="button" onclick="submitTime()">
								</div>
							</div>
						</div>
					</div>
                    <!--Interaction/KC Module-->
					<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
							<div class="jumbotron">
								<div class="container-fluid">
									<br><br>
									<h4>Ostriches are often not taken seriously. They can run faster than horses, and the males can roar like lions.</h4>
									<br>
									<div align="center">
										<img src="New_Suitcase_Pose-2_opt.png" alt="..." class="img-responsive">									
									</div>
									<br><br><br>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>   
		<!--Links to external script files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://momentjs.com/downloads/moment.js"></script>
		<script type="text/javascript" src="timesheet.js"></script>	
	</body>
</html>